<header class="navbar navbar-expand-lg bd-navbar sticky-top">
  <nav class="container-xxl bd-gutter flex-wrap flex-lg-nowrap" aria-label="Main navigation">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
          Documentation index
        </button>
      </li>
      </ul>
    </div>
  </nav>
</header>

<div id="sidebar" class="offcanvas offcanvas-start" tabindex="-1">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Documentation index</h5>
    <button type="button" class="btn-close" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p><a href="index.html#intro">Forms with change history</a>:</p>
    <ul>
    <li data-bs-dismiss="offcanvas"><a href="index.html#ratio">Rationale</a></li>
    <li data-bs-dismiss="offcanvas"><a href="index.html#recording">Recording changes</a></li>
    <li data-bs-dismiss="offcanvas"><a href="index.html#version">Form and data version</a></li>
    <li data-bs-dismiss="offcanvas"><a href="index.html#future">Future developments</a></li>
    <li data-bs-dismiss="offcanvas"><a href="index.html#license">License and Contact</a></li>
    </ul>

    <p><a href="bootstrap5.html">Bootstrap5:</a></p>
    <ul>
    <li data-bs-dismiss="offcanvas"><a href="dist/bootstrap5/"><b>Download plugin</b></a></li>
    <li data-bs-dismiss="offcanvas"><a href="bootstrap5.html#plugin">Starting the "form-changes" plugin</h2>
    <li data-bs-dismiss="offcanvas"><a href="bootstrap5.html#styles">Display styles</a></li>
    <li data-bs-dismiss="offcanvas"><a href="bootstrap5.html#history">Change history template</a></li>
    <li data-bs-dismiss="offcanvas"><a href="bootstrap5.html#pick">Pick values</a></li>
    <li data-bs-dismiss="offcanvas"><a href="bootstrap5.html#viz">Visualizations:</a>
      <ul>
      <li data-bs-dismiss="offcanvas"><a href="bootstrap5.html#notes">Change notes</a></li>
      <li data-bs-dismiss="offcanvas"><a href="bootstrap5.html#new">Field got added</a></li>
      <li data-bs-dismiss="offcanvas"><a href="bootstrap5.html#req">Field became required</a></li>
      <li data-bs-dismiss="offcanvas"><a href="bootstrap5.html#autoreq">Field is required</a></li>
      <li data-bs-dismiss="offcanvas"><a href="bootstrap5.html#sel">Options in select</a></li>
      <li data-bs-dismiss="offcanvas"><a href="bootstrap5.html#cb">Checkboxes</a></li>
      <li data-bs-dismiss="offcanvas"><a href="bootstrap5.html#rb">Radio buttons</a></li>
      </ul>
    </ul>
  </div>
</div>
