BODY {
	padding-left: 15%;
	padding-right: 15%;
	counter-reset: h2;
}

H2::before {
	counter-increment: h2;
	content: counter(h2) '. ';
}

CODE.snippet, tt {
	font-size: 0.875em;
}

FORM.demo DIV.example > DIV {
	padding: 10px 20px;
	border: 1px solid black;
}

FORM.demo DIV.example > P {
	padding: 2px 10px;
	margin: 3px 0 5px 0;
	background-color: #f5f2f0;
}

DIV.demo-compare {
	margin: 5px 10%;
}

DIV.demo-compare .form-label {
	margin-top: 4px;
}

DIV#sidebar A {
	text-decoration: none;
	color: black;
}
